.container {
  z-index: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  color: var(--Emerald, #01565b);
  text-align: center;
  justify-content: center;
  font: 700 47px Sora, sans-serif;
}

.titleWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  
  @media (max-width: 991px) {
    max-width: 100%;
    font-size: 40px;
  }
}

.title {
  width: 100%;
  
  @media (max-width: 991px) {
    max-width: 100%;
    font-size: 40px;
  }
}

.processImage {
  aspect-ratio: 1.81;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 13px;
  margin-top: 52px;
  
  @media (max-width: 991px) {
    max-width: 100%;
    margin-top: 40px;
  }
}