@use "@/styles/mixins" as *;

// InfoCard

.card {
    display: flex;
    min-height: 266px;
    width: 100%;
    max-width: 1135px;
    align-items: center;
    gap: 40px 78px;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include minus-992 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.label {
    border-radius: 13px;
    background-blend-mode: linear_burn;
    align-self: stretch;
    min-width: 240px;
    min-height: 153px;
    color: var(--Green, #30c288);
    text-align: right;
    width: 355px;
    margin: auto 0;
    font: 600 20px Sora, sans-serif;

    @include minus-992 {
        text-align: center;
        width: 100%;
        margin: 26px 0px 0px 0px;
        min-height: auto;
    }
}

.content {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 153px;
    align-items: flex-start;
    gap: 40px 78px;
    justify-content: flex-start;
    flex: 1;
    flex-basis: 0%;
    margin: auto 0;

    @include minus-992 {
        text-align: center;
        min-height: auto;
    }
}

.textWrapper {
    display: flex;
    min-width: 240px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    flex-basis: 0%;
}

.title {
    align-self: stretch;
    flex: 1;
    width: 100%;
    gap: 9px;
    color: var(--Emerald, #01565b);
    font: 600 23px Sora, sans-serif;
}

.description {
    color: var(--Black, #232323);
    margin-top: 26px;
    font: 400 15px/26px SF Pro Text, -apple-system, Roboto, Helvetica, sans-serif;
}

@include minus-992 {

    .card,
    .content,
    .textWrapper,
    .title,
    .description {
        max-width: 100%;
    }
}