.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    min-width: 240px;
    width: 100%;
    align-items: center;
    gap: 40px 78px;
    justify-content: start;
    flex-wrap: wrap;
    flex: 1;
    flex-basis: 0%;
    margin: auto 0;

    @media (max-width: 991px) {
      justify-content: center;
    }

    &_reverse {
      flex-direction: row-reverse;
      justify-content: end;

      @media (max-width: 991px) {
        justify-content: center;
      }

      .textContent {
        justify-content: end;
        text-align: right;

        @media (max-width: 991px) {
          justify-content: center;
          text-align: center;
        }
      }

      .actionButton {
        align-self: flex-end;
        font-weight: 600;

        @media (max-width: 991px) {
          align-self: center;
        }
      }
    }
  }
  
  .imageWrapper {
    border-radius: 13px;
    background-blend-mode: linear_burn;
    background-color: rgba(233, 249, 251, 1);
    align-self: stretch;
    display: flex;
    min-width: 240px;
    min-height: 351px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 441px;
    margin: auto 0;
    padding: 19px 60px;

    @media (max-width: 991px) {
      width: 100%;
    }
  }
  
  .image {
    aspect-ratio: 1.03;
    object-fit: contain;
    object-position: center;
    width: 321px;
    border-radius: 0;
    max-width: 100%;
  }
  
  .textContent {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    color: var(--Emerald, #01565b);
    justify-content: start;
    flex: 1;
    flex-basis: 120px;
    margin: auto 0;

    @media (max-width: 991px) {
      justify-content: center;
      text-align: center;
    }
  }
  
  .title {
    align-self: stretch;
    flex: 1;
    width: 100%;
    gap: 9px;
    font: 700 39px Sora, sans-serif;
  }
  
  .description {
    margin-top: 26px;
    font: 400 15px/26px SF Pro Text, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .actionButton {
    align-self: start;
    font-weight: 600;

    @media (max-width: 991px) {
      align-self: center;
    }
  }
  
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
      // padding: 100px 20px;
    }
  
    .content {
      max-width: 100%;
    }
  
    .imageWrapper {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .textContent {
      max-width: 100%;
    }
  
    .title {
      max-width: 100%;
    }
  
    .description {
      max-width: 100%;
    }
  
  }
  