.section {
  justify-content: center;
  z-index: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: var(--Emerald, #01565b);
  text-align: center;
  justify-content: start;
  font: 700 39px Sora, sans-serif;

  @media (max-width: 991px) {
    max-width: 100%;
  }
}

.content {
  display: flex;
  margin-top: 39px;
  width: 100%;
  flex-direction: column;
  justify-content: start;

  @media (max-width: 991px) {
    max-width: 100%;
  }
}

.button {
  align-self: center;
  border-radius: 7px;
  border: 1px solid var(--Emerald-37, rgba(73, 140, 113, 0.37));
  margin-top: 39px;
  color: var(--Emerald-dark, #0d6c4d);
  padding: 13px 26px;
  font: 600 14px SF UI Display, -apple-system, Roboto, Helvetica, sans-serif;

  @media (max-width: 991px) {
    padding: 0 20px;
  }
}

.readAll {
  margin: 26px auto 0px auto;
  font: 600 14px SF UI Display, -apple-system, Roboto, Helvetica, sans-serif;
}